.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
}
.activeLink {
  composes: link;
  color: #272774;
  font-size: 22px;
  font-weight: 700;
  transform: scaleY(1.1);
}
